* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    width: 100%;
}

.all {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
}

.swap1 {
    width: 500px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 27, 31);
}

.text {
    color: rgb(143, 150, 172)
}

.money {
    padding: 10px;
    margin: 10px;
    width: 90%;
    display: flex;
    background-color: gray;
    color: rgb(143, 150, 172);
}