* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.swap1 {
    width: 450px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.top {
    margin: 10px;
}

.money {
    height: 90px;
    width: 100%;
}